<div class="date-input-block">
  <h1 class="title" style="text-align: center">Age calculator app</h1>
  <div class="date-input-div">
    <form [formGroup]="ageForm" class="date-input-div">
      <mat-form-field appearance="outline">
        <mat-label>Day</mat-label>
        <input
          formControlName="day"
          matInput
          placeholder="Day"
          class="example-right-align"
          type="number"
          appDayValidator
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

        <mat-error *ngIf="day.errors?.['required']">{{
          "You must enter a value"
        }}</mat-error>

        <mat-error *ngIf="day.errors?.['invalidDay']"
          >{{ "The day number must be between 1-31" }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Month</mat-label>
        <input
          type="number"
          class="example-right-align"
          formControlName="month"
          matInput
          placeholder="Month"
          appMonthValidator
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

        <mat-error *ngIf="month.errors?.['required']">{{
          "You must enter a value"
        }}</mat-error>

        <mat-error *ngIf="month.errors?.['invalidMonth']"
          >{{ "The month number must be between 1-12" }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Year</mat-label>
        <input
          type="number"
          class="example-right-align"
          formControlName="year"
          matInput
          placeholder="Year"
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

        <mat-error *ngIf="year.errors?.['required']">{{
          "You must enter a value"
        }}</mat-error>

        <mat-error *ngIf="year.errors?.['invalidYear']"
          >{{ "Year in invalid" }}
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div class="button-div">
    <button mat-raised-button color="accent">Calculate</button>
  </div>
</div>
