.date-input-block {
  color: #69f0ae;
  max-width: 800px;
  width: 100%;
  margin: 50px auto;
  .title {
    text-align: center;
  }
  .date-input-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .example-right-align {
      text-align: center;
    }
    input.example-right-align::-webkit-outer-spin-button,
    input.example-right-align::-webkit-inner-spin-button {
      display: none;
    }
  }
  .button-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .age-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    .age-text {
      font-size: 60px;
      margin-top: 50px;
      font-weight: 900;
      font-style: italic;
    }
    .white {
      color: aliceblue;
    }
  }
}
